<form method="post" action="/auth/register">
    <div>
       <label for="username">Username</label>
       <input type="text" name="username" value="{{body.username}}">
    </div>
    <div>
        <label for="username">Password</label>
        <input type="text" name="password">
    </div>
    <div>
       <label for="username">Repeat Password</label>
       <input type="text" name="repass">
    </div>
    <button>Submit</button>
</form>